body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
    text-align: justify;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: auto;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    text-align: center; 
}

label, input, textarea, button {
    margin-bottom: 10px; 
    width: 100%; 
}

input, textarea {
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%; 
    align-self: center; 
}

button:hover {
    background-color: #555;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin: 20px; 
}

.imagem img {
    width: 100%; 
    height: auto; 
    max-height: 300px; 
    border-radius: 8px; 
    object-fit: contain; 
}

.texto {
    flex: 1;
    padding: 0 20px;
}

.h2 {
    text-align: center; 
    margin-top: 0; 
    margin-bottom: 20px;
}

a {
    text-decoration: none;  
    color: black;           
  }
  
a:hover, a:active {
    color: rgb(96, 96, 152);      
  }
  
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .imagem img {
        max-width: 80%; 
        margin-bottom: 20px;
        object-fit: contain;
    }

    .texto {
        text-align: center;
    }
}


